@font-face {
  font-family: '7segment';
  src:  url('DSEG7ModernMini-Regular.woff2') format('woff2'),
        url('DSEG7ModernMini-Regular.woff') format('woff');
}

@font-face {
  font-family: 'classicbold';
  src:  url('DSEG7Classic-Bold.woff2') format('woff2'),
        url('DSEG7Classic-Bold.woff') format('woff');
}

@font-face {
  font-family: 'classicregular';
  src:  url('DSEG7Classic-Regular.woff2') format('woff2'),
        url('DSEG7Classic-Regular.woff') format('woff');
}

@font-face {
  font-family: 'classicmini';
  src:  url('DSEG7ClassicMini-Regular.woff2') format('woff2'),
        url('DSEG7ClassicMini-Regular.woff') format('woff');
}

@font-face {
  font-family: 'classicminibold';
  src:  url('DSEG7ClassicMini-Bold.woff2') format('woff2'),
        url('DSEG7ClassicMini-Bold.woff') format('woff');
}

body {
  font-family: 'classicminibold';
  font-size: 28vw;
  color:  #b30000;
  background-color: black;
}

#background, #container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#background {
  color: #080808;
}